<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
      <div class="one-third js-fullheight align-self-end order-md-last img-fluid not-too-big">
        <video src="{{ assetUrl }}" [muted]="true" autoplay playsinline loop style="display: block; margin: 0 auto;"></video>
      </div>
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
        <div class="text mt-5">
          <span class="subheading">PWA Developers</span>
          <h1 class="mb-3"><span>Design it,</span> <span>Develop it,</span> <span>Deploy it</span></h1>
          <p>Progressive web apps are the future of the web. Create an app that is quick, light and cheap without sacrificing user experience!</p>
          <p><a routerLink="/contact" class="btn btn-primary px-4 py-3">Get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
