<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">The Power of PWA Technology</h2>
        <p>Supported by Google, progressive web apps unlock abilities that can enhance your business metrics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center order-md-last">
            <ion-icon name="cloud-download-outline"></ion-icon>
          </div>
          <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
            <h3 class="heading">Installable from the Browser</h3>
            <p class="mb-0">Increase your app conversions by allowing users to download your app straight from the browser</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <ion-icon name="notifications-outline"></ion-icon>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Push Notifications</h3>
            <p class="mb-0">Increase your customer engagement by utilizing one of the most powerful marketing tools</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center order-md-last">
            <ion-icon name="link-outline"></ion-icon>
          </div>
          <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
            <h3 class="heading">A Linkable App</h3>
            <p>Increase your reach. PWA's are indexed by search engines and can be distributed through links</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <ion-icon name="desktop-outline"></ion-icon>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Platform Agnostic</h3>
            <p>Increase your market share. PWA's are installable on IOS, Android and Desktop</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center order-md-last">
            <ion-icon name="logo-buffer"></ion-icon>
          </div>
          <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
            <h3 class="heading">Hardware Access</h3>
            <p>Unlock new features. PWA's can access hardware features such as the camera and filesystem</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <ion-icon name="flash-outline"></ion-icon>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Quick as Lyte</h3>
            <p>Increase your page views. The technology used in PWA's make page transitions seamless</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
