<section class="ftco-section ftco-counter img">
  <a href="https://www.pwastats.com/" target="_blank">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section heading-section-white">
          <span class="subheading">{{ title }}</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row justify-counters">
            <div class="col-md-3 d-flex justify-content-center counter-wrap" *ngFor="let counter of counters">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" *ngIf="counter.unitPosition == 'before'">{{ counter.unit }}</strong>
                  <strong class="number" [attr.data-number]="counter.endQuantity">{{ counter.endQuantity }} <!-- change to initialQuantity and animate --></strong>
                  <strong class="number" *ngIf="counter.unitPosition == 'after'">{{ counter.unit }}</strong>
                  <span>{{ counter.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
