<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/img/graphics/material-design-wallpaper-10.png');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
        <h1 class="mb-3 bread">Portfolio</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section portfolio-example">
	<div class="container">
		<div class="row d-md-flex">
  		<div class="col-md-6">
        <img src="assets/img/graphics/gw.jpg" class="portfolio-image">
  		</div>
  		<div class="col-md-6 ftco-animate p-md-5">
    		<div class="row py-md-5">
          <!-- <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
            </div>
          </div> -->
          <div class="col-md-12 d-flex align-items-center">

            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
              	<div>
	                <h2 class="mb-4">Game Watch</h2>
                  <p>Game watch is an event organising app for multiplayer games. It is mean't to fill the demand for esports teams who want to organise competitions and record their results. It is easily linkable with discord.</p>
                  <p>The events on Game Watch are linkable through URL's and can be accessed from desktop browsers where most "gamers" reside. Mobile users have the option to download the app and recieve notifications when an event is about to happen.</p>
	                <!-- <p><a href="#" class="btn btn-primary p-3">Get started</a></p> -->
		            </div>
              </div>

              <!-- <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                <div>
	                <h2 class="mb-4">Exceptional Web Solutions</h2>
	              	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
	                	<p><a href="#" class="btn btn-primary p-3">Get started</a></p>
		            </div>
              </div>

              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                <div>
	                <h2 class="mb-4">Help Our Customer</h2>
	              	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
	                	<p><a href="#" class="btn btn-primary p-3">Get started</a></p>
		            </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<section class="ftco-section portfolio-example">
	<div class="container">
		<div class="row d-md-flex reverse-row">
  		<div class="col-md-6 ftco-animate p-md-5">
    		<div class="row py-md-5">
          <!-- <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
            </div>
          </div> -->
          <div class="col-md-12 d-flex align-items-center">

            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
              	<div>
	                <h2 class="mb-4">Plink</h2>
	              	<p>Plink is a social media app that allows users to create funny captions on images of each other. These captioned images are listed below the image and ranked based on how many stars they have. Users earn points for every star they accumulate.</p>
	                <p>Each captioned image is linkable and downloadable. This allows users who do not have the app to engage with other users on the site. Since Plink is a social media app, the ability to gain users without them needing to download the app is invaluable.</p>
	                <!-- <p><a href="#" class="btn btn-primary p-3">Get started</a></p> -->
		            </div>
              </div>

              <!-- <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                <div>
	                <h2 class="mb-4">Exceptional Web Solutions</h2>
	              	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
	                	<p><a href="#" class="btn btn-primary p-3">Get started</a></p>
		            </div>
              </div>

              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                <div>
	                <h2 class="mb-4">Help Our Customer</h2>
	              	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
	                	<p><a href="#" class="btn btn-primary p-3">Get started</a></p>
		            </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <img src="assets/img/graphics/plink.png" class="portfolio-image">
  		</div>
    </div>
	</div>
</section>
