.blog {
  padding-top: 0;
}

.blog-contents {
  margin: 0 auto;
}

.point-container {
  @media (max-width: 768px) {
    padding-bottom: 1em;
  }
}

.points-mobile-margin {
  @media (max-width: 768px) {
    margin-bottom: 2em;
  }
}
