<section class="ftco-section point-container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<ion-icon name="code-slash-outline"></ion-icon>
					</div>
					<h3>Development</h3>
					<p>We can develop progressive web apps and normal websites based on modern designs from third party providers</p>
				</div>
			</div>
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<ion-icon name="globe-outline" ></ion-icon>
					</div>
					<h3>Hosting</h3>
					<p>We can manage your hosting and ensure you get the best performance for the lowest cost through major cloud service providers</p>
				</div>
			</div>
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<ion-icon name="hammer-outline"></ion-icon>
					</div>
					<h3>Maintainence</h3>
					<p>The technologies we use allow our developers to make rapid changes and fixes to your apps, with deploy times under 40 seconds</p>
				</div>
			</div>
		</div>
	</div>
</section>
