<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-5">
        <img src="/assets/cohost/images/undraw_podcast_q6p7.svg" class="img-fluid" alt="">
        <div class="heading-section ftco-animate mt-5">
          <h2 class="mb-4">Our Main Services</h2>
          <p>Our specialty here at Lyte Tech is creating modern and performant progressive web apps. These skills are transferable to other domains and can allow us to provide several other services</p>
        </div>
      </div>
      <div class="col-lg-6 py-5">
        <div class="row">
          <div class="col-md-6 ftco-animate">
            <div class="media block-6 services border text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>
              <div class="mt-3 media-body media-body-2">
                <h3 class="heading">PWA</h3>
                <p>We develop progressive web apps, these function as a web and native app</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="media block-6 services border text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <ion-icon name="tv-outline"></ion-icon>
              </div>
              <div class="mt-3 media-body media-body-2">
                <h3 class="heading">Website</h3>
                <p>We can make blazing fast websites using PWA technology</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="media block-6 services border text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <ion-icon name="globe-outline"></ion-icon>
              </div>
              <div class="mt-3 media-body media-body-2">
                <h3 class="heading">Hosting</h3>
                <p>Don't worry about setting up complex servers, we have you covered</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="media block-6 services border text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <ion-icon name="hammer-outline"></ion-icon>
              </div>
              <div class="mt-3 media-body media-body-2">
                <h3 class="heading">Maintenance</h3>
                <p>Our modern systems allow us to efficently maintain your software</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
