footer.mobile-tabs {
  display: block;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}

.margin-left-mobile-icon {
  margin-left: 37px;
}

*.l {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  height: 27px;
  padding: 12px 0 !important;
  width: 100%;
  fill: #666;
}

.mobile-links {
  font-size: 2em;
  line-height: 1;
  margin-bottom: -7px;
}
