<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/img/graphics/material-design-wallpaper-10.png');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
        <h1 class="mb-3 bread">About</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate about-contents">
        <h2 class="mb-3">Internationally appraised software, locally based</h2>
        <p>Lyte Tech was created with one mission in mind - to provide simple, scalable software development solutions for businesses like yours.</p>
        <p>The most effective software solutions can only be built through a deep understanding of your unique needs and challenges. That’s why we design and develop collaboratively, working alongside your business for the duration of the process until we have a result that will help you grow.</p>

        <h2 class="mb-3">Problem solvers</h2>
        <p>We don’t take what you ask for at face value. We ask, engage, test and step into your business to make sure we’re creating what you truly need.</p>

        <h2 class="mb-3">Industry leading technology</h2>
        <p>Lyte Tech uses the most cutting edge technology to deliver you and your customers better and cheaper solutions.</p>

        <h2 class="mb-3">Easy to understand experts</h2>
        <p>Our entire team is onshore, so you never have to worry about outsourcing or communication issues. We leave jargon at the door so we can have real conversations about what you need.</p>

      </div>
    </div>
  </div>
</section>
