<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/img/graphics/material-design-wallpaper-10.png');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
        <h1 class="mb-3 bread">Services</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section point-container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<span class="ion-md-code"></span>
					</div>
					<h3>Development</h3>
					<p>We can develop progressive web apps and normal websites based on modern designs from third party providers</p>
				</div>
			</div>
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<span class="ion-ios-globe"></span>
					</div>
					<h3>Hosting</h3>
					<p>We can manage your hosting and ensure you get the best performance for the lowest cost through major cloud service providers</p>
				</div>
			</div>
			<div class="col-md-4 text-center ftco-animate points-mobile-margin">
				<div class="steps">
					<div class="icon mb-4 d-flex justify-content-center align-items-center">
						<span class="ion-ios-hammer"></span>
					</div>
					<h3>Maintainence</h3>
					<p>The technologies we use allow our developers to make rapid changes and fixes to your apps, with deploy times under 40 seconds</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate blog-contents">
        <h2 class="mb-3">Progressive Web Apps</h2>
        <p>
          <img src="assets/img/graphics/pwa.png" alt="" class="img-fluid">
        </p>
        <p>Our specialty here at Lyte Tech is creating modern and performant progressive web apps.</p>
        <p>A progressive web application (PWA) is a type of application software delivered through the web, built using common web technologies including HTML, CSS and JavaScript. It is intended to work on any platform that uses a standards-compliant browser. Functionality includes working offline, push notifications, and device hardware access, enabling creating user experiences similar to native applications on desktop and mobile devices. Since a progressive web app is a type of webpage or website known as a web application, there is no requirement for developers or users to install the web apps via digital distribution systems like Apple App Store or Google Play.</p>
        <h2 class="mb-3 mt-5">Firebase Hosting</h2>
        <p>
          <img src="assets/img/graphics/firebase-hosting.jpg" alt="" class="img-fluid">
        </p>
        <p>We manage our apps using hosting platforms that suit our primary front end framework; Angular.</p>
        <p>Firebase Hosting provides fast and secure hosting for web apps, static and dynamic content, and microservices.</p>
        <p>Firebase is a Backend-as-a-Service (Baas). It provides us with a variety of tools and services to help us develop quality apps, grow your user base, and monitor app performance. It is built on Google's infrastructure.</p>
        <h2 class="mb-3 mt-5">Rapid Deployment</h2>
        <p>
          <img src="assets/img/graphics/frontend-developer-illustration.png" alt="" class="img-fluid">
        </p>
        <p>We offer long term support for your apps and use systems that allow us to rapidly fix and make changes as you need them.</p>
      </div>
    </div>
  </div>
</section>
